html {
  font-size: 14px;
  --weight: 500;
}

body {
  margin: 0 auto;
}

/* header */

header {
  font-family: "PT Root UI";
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  display: flex;
  color: #ffffff;
}

.head__color {
  background-color: #24292c;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo__header {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.but__header {
  background-color: #3a3af4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  flex-grow: 1;
}

.main__list {
  display: flex;
  list-style: none;
  padding-right: 100px;
}

.header__list {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.list__href:hover {
  color: #00a6ed;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 40%,
    rgba(0, 166, 237, 1) 40%,
    rgba(0, 166, 237, 1) 60%,
    transparent 60%,
    transparent 100%
  );
  border-image-slice: 1;
}

.list__href {
  text-decoration: none;
  color: #ffffff;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  padding-right: 20px;
}

.right__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right__blocks_el1 {
  display: flex;
}

.right__inner {
  width: 24px;
  height: 24px;
  background: #eb4458;
  position: relative;
  bottom: 10px;
  border-radius: 50%;
  text-align: center;
  right: 5px;
}

.header__right > .right__blocks_el2 {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
}

.right__img {
  padding-left: 15px;
  padding-top: 12px;
}
/* Midle */
.midle__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 32px;
}

h1 {
  font-family: "PT Root UI";
}

.midle_innerbutton {
  height: 40px;
  width: 127px;
  border-radius: 12px;
  border: none;
  font-weight: var(--weight);
  background-image: url(../дз7/img7/круговорот.png);
  background-position: 20px;
  background-repeat: no-repeat;
}
/* section */

.container {
  width: 1152px;
  margin: 0 auto;
}

table {
  padding-left: 20px;
  min-width: 1152px;
}

.midle__container {
  width: 100%;
}

thead {
  border-radius: 24px 24px 0px 0px;
  display: block;
  height: 87px;
  background-color: #f8fbfc;
  padding-top: 16px;
  margin: -2px;
}

thead > tr {
  text-align: left;
}

thead {
  width: 100%;
}
.top {
  height: 40px;
  font-size: 16px;
  border: none;
}

th {
  background-color: #f8fbfc;
  padding: 17px;
}
/* inputs */
thead {
  display: inline-block;
  margin-bottom: 35px;
}

.th_input_date {
  background-image: url(./img7/ic_date_range_24px.png);
  background-repeat: no-repeat;
  background-position: 5px;
  border: 1px #cddbe4 solid;
  border-radius: 8px;
  padding-top: 10px;
  box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04),
    0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04),
    0px 0px 1px rgba(0, 98, 140, 0.7);
  width: 100%;
}
.th_input_lupa {
  background-image: url(./img7/лупа\ 2383.png);
  background-repeat: no-repeat;
  background-position: 5px;
  border: 1px #cddbe4 solid;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04),
    0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04),
    0px 0px 1px rgba(0, 98, 140, 0.7);
  padding-top: 10px;
  width: 100%;
}
/* border */
.application_lupa,
.date_icon,
.title2_lupa,
.contractor_lupa,
.priority_lupa,
.status_lupa {
  border-bottom: 1px solid #dce8ed;
}

.application,
.application_lupa {
  width: 113px;
  text-align: left;
}

.application {
  background-image: url(./img7/bot_strelka.png);
  background-position: 130px;
  background-repeat: no-repeat;
  background-size: 12px;
}

.title2,
.title2_lupa {
  text-align: left;
  width: 208px;
}

.date {
  text-align: left;
  width: 136px;
}

.contractor,
.contractor_lupa {
  text-align: left;
  width: 232px;
}

.priority,
.priority_lupa {
  text-align: left;
  width: 90px;
}

.priority {
  background-image: url(./img7/bot_strelka.png);
  background-position: 100px;
  background-repeat: no-repeat;
  background-size: 12px;
}

.status,
.status_lupa {
  text-align: left;
  width: 159px;

  text-align: left;
}

/* sect_bot */

td {
  display: inline-block;
}
tr {
  display: flex;
  border-bottom: 1px solid #f0f5f8;
  font-family: "PT Root UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

tr:hover {
  background: #f3f7f9;
}

.application__number {
  text-align: right;
  width: 113px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.title2_bot {
  width: 208px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.date_icon_bot {
  width: 136px;
  padding-left: 40px;
  padding-top: 20px;
}

.contractor_lupa_bot {
  padding-left: 20px;
  padding-top: 20px;
  width: 232px;
}

.priority_lupa_bot {
  width: 90px;
  padding-left: 30px;
  padding-top: 20px;
  text-align: right;
}

.status_lupa_bot {
  padding-left: 45px;
  width: 159px;
  padding-top: 20px;
}

.yellow {
  color: #f2c94c;
}

.blue {
  color: #2d9cdb;
}

.green {
  color: #27ae60;
}

.red {
  color: #eb5757;
}

.menu_search {
  position: relative;

  padding-top: 20px;
}

/* bottom */

.bottom_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  position: relative;
  top: 10px;
  left: 10px;
}

.bottom_list {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.bottom_list:hover {
  background: #00a6ed;
  border-radius: 8px;
}

.bottom__right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.bottom__left {
  padding-left: 10px;
}

.bottom__button {
  width: 56px;
  height: 32px;
  border: 1px solid #cddbe4;
  border-radius: 8px;
  margin-left: 10px;
}

.bottom__button:hover {
  color: #231f20;
}

#value {
  position: relative;
  right: 20px;
}

.block__search_main {
  width: 192px;
  height: 172px;
  position: absolute;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: -2px -1px 20px rgba(74, 74, 74, 0.1);
  top: 800px;
  left: 1300;
  opacity: 0;
}

.midle__container:hover .block__search_main {
  width: 192px;
  height: 172px;
  position: absolute;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: -2px -1px 20px rgba(74, 74, 74, 0.1);
  top: 800px;
  left: 1320px;
  opacity: 1;
  transition: 0.2s;
}

.inner__block__search {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 13%;
  height: 120px;
}

.block__search1 {
  width: 142px;
  display: flex;
  justify-content: flex-end;
  background-image: url(./img7/карандаш.png);
  background-repeat: no-repeat;
  background-position: 20px;
}

.block__search2 {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  background-image: url(./img7/person.svg);
  background-repeat: no-repeat;
  background-position: 17px;
}

.block__search3 {
  width: 140px;
  display: flex;
  justify-content: flex-end;
  background-image: url(./img7/3стрелка.png);
  background-repeat: no-repeat;
  background-position: 20px;
}

.block__search4 {
  width: 135px;
  display: flex;
  justify-content: flex-end;
  background-image: url(./img7/крест.png);
  background-repeat: no-repeat;
  background-position: 22px;
}
